body {
    font-family: 'Assistant', sans-serif;
    color: #282b2d;
    background: #d8e0e8;
}

main {
    height: 100vh;
    width: 100vw;
    max-width: 100%;
    max-height: 100%;
}

#grid-container {
    height: 95vh;
    width: 95vw;
    max-height: 1280px;
    max-width: 1280px;
    display: grid;
    grid-gap: 25px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    position: relative;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

#main-container {
    grid-column: span 2;
    width: 100%;
    height: 95vh;
    display: table;
    position: relative;
}

#desktop-container {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}

#play {
    position: absolute;
    z-index: 300;
    top: 0;
    left: 0px;
    right: 0;
    bottom: 0;
    margin: auto;
    background: yellow;
    height: 100px;
    width: 100px;
}

#browser {
    height: 100%;
    width: 100%;
    background: #c4d9e6;
    position: relative;
    overflow: auto;
    font-size: 16px;
}

#bigBox {
    height: 50%;
    width: 50%;
    background: #FF6F99;
    transition: height 1.5s, width 1.5s;
    position: relative;
    top: 0;
    left: 0;
    overflow:auto;
}

#smallBox {
    height: 50%;
    width: 50%;
    background: #fff252;
    /* Background image or plain color? */
    background-image: linear-gradient(rgba(255, 242, 82, 0.10), rgba(255, 242, 82, 0.10)),url(img/yellow-dotted-background-720x720x.png);
    transition: height 1.5s, width 1.5s, margin 1.5s, padding 1.5s;
    position: relative;
    top: 0;
    left: 0;
    float: left;
}

#smallText {
    font-size: 16px;
    color: #2c3a2f;
    transition: font-size 1.5s, margin 1.5s, padding 1.5s;
    position: relative;
    top: 0;
    left: 0;
    max-height: 100%;
    max-width: 100%;
    text-shadow: 0px 0px 10px #ffffff;
    float: left;

}








#sidebar-container {
    grid-column: span 1;
    width: 100%;
    background: #8295a9;
    border-radius: 30px;
    position: relative;
    z-index: 400;
    max-height: 900px;
    margin-top: calc( (95vh - 900px) / 2);
    margin-bottom: calc( (95vh - 900px) / 2);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}

#sidebar {
    margin: 20px 0px 0px 20px;
    /*display: grid;*/
    height: 95%;
    color: white;
    position: relative;
    overflow-x: hidden;
    width: 100%;
    max-height: 900px;

}

#sidebar .sidebar-levels {
    width: auto;
    height: auto;
    background: red;
    color: white;
    position: relative;
    transition: left .7s;
    display: block;
    top: 0px;
    left: 0px;
}

#sidebar .level-container {
    float: left;
}

#sidebar-container .show-solution{
    position: relative;
    bottom: 25px;
    left: 0px;
    right: 0px;
    margin: 0 auto;
    text-align:center;
    width: 120px;
    visibility: hidden;
}
#sidebar-container .show-solution p{
    color: #f3f3f3;
    font-size:16px;
    cursor: pointer;
    border: 1px solid #f3f3f3;
    padding: 3px 2px;
    border-radius: 8px;

}
#sidebar-container .show-solution p:hover{
    color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#sidebar h2 {
    margin-bottom: 20px;
    font-size: 200%;
    text-align: center;
}

#sidebar .header {
    margin-bottom: 25px;
}

#sidebar .header h3 {
    font-weight: bold;
    color: white;
    margin-bottom: 15px;
    font-size: 25px;
}

#sidebar .description span {
    font-weight: bold;
    color: #66e6ef;
}

#sidebar .box-controls .bigBox-control,
#sidebar .box-controls .smallBox-control {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 15px 0px;
    margin: 0 5px 50px 5px;
    border-radius: 0px 0px 0px 5px;
}

#sidebar .bigBox-control {
    border-left: 20px solid #FF6F99;

}

#sidebar .smallBox-control {
    border-left: 20px solid #fff252;
}

#sidebar .textBorder {
    border-left: 20px solid #2c3a2f;
}

#sidebar .box-controls h3 {
    padding-left: 15px;
    color: white;
    margin-bottom: 15px;
}

button {
    background: #ffffff;
    background: -webkit-linear-gradient(#ffffff, #cccccc);
    background: linear-gradient(#ffffff, #cccccc);
    border: 1px solid #cccccc;
    border-radius: 1000px;
    box-shadow: 0 2px #666666;
    padding: 7px 23px;
    text-align: center;
    text-shadow: 1px 1px #f3f3f3;
    font-size: 18px;
    color: #2a2c2d;
    transition: all .1s;
    display: block;
    margin: auto;
}

button:hover {
    background: -webkit-linear-gradient(#ffffff, #bfbfbf);
    background: linear-gradient(#ffffff, #bfbfbf);
    border: 1px solid #716565;
    box-shadow: 0 4px #666666;
    color: black;
    transition: all .1s;
    cursor: pointer;
}

#sidebar table {
    margin: 0 auto;
    width: 100%
}

#sidebar input {
    color: #121213;
    height: 20px;
    max-width: 75%;
    margin-bottom: 5px;
    text-align: right;
    font-size: 16px;
    border: none;
    padding-right: 5px;
    margin-left: 10px;
}

#sidebar input::placeholder {
    color: #cdcdcd;
}

#sidebar table p {
    font-weight: 500;
}


#direction {
    color: #d3dce2;
    position: absolute;
    width: 80%;
    top: 15px;
    right: 0px;
    left: 0px;
    margin: auto;

}

#direction .left,
#direction .right {
    font-size: 45px;
    cursor: pointer;
}

#direction .left:hover,
#direction .right:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 30%;
}

#direction .left {
    float: left;
}

#direction .right {
    float: right;
}

#info .info-icon {
    height: 50px;
    width: 50px;
    background: #6f6767;
    border-radius: 50%;
    cursor: pointer;
    position: absolute;
    left: 15px;
    bottom: 14px;
    color: white;
    transition: transform .3s;
    z-index: 290;
    border: 2px solid #6f6465;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-align: center;
    font-size: 45px;
    line-height: 50px;
}

#info .info-icon:hover {
    transform: scale(1.1);
}



#info .more-info {
    position: fixed;
    left: 0px;
    top: 0px;
    top: -110vh;
    width: 100vw;
    height: 100vh;
    max-width: 100%;
    overflow-y: scroll;
    background: #d8e0e8;
    transition: top .8s;
    z-index: 300;
    color: #282b2d;
}

#info .info-close {
    position: absolute;
    top: 20px;
    right: 35px;
    cursor: pointer;
    font-size: 50px;
    line-height: 40px;
    background: #37373c;
    height: 40px;
    width: 40px;
    text-align: center;
    border-radius: 50%;
    border: 1px solid #737070;
    font-family: monospace;
    font-weight: 100;
    color: white;
    z-index: 3000;
}


#info .more-info h1 {
    color: #282b2d;
    font-size: 120px;
    text-align: center;
    margin: 2.5em 0 30px 0;
}

#info .more-info hr {
    width: 600px;

}

#info .more-info h2 {
    color: #282b2d;
    font-size: 30px;
    text-align: center;
    margin: 30px 0 100px 0;
}

#info .scroll {
    height: 39px;
    width: 23px;
    margin: 0 auto;
    border-radius: 39%;
    margin-bottom: 100px;
    border: 2px solid white;
    position: relative;
}

#info .scroll-wheel {
    background: white;
    height: 10px;
    width: 5px;
    border-radius: 39%;
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    top: 3px;
    animation: scrollWheel 1s linear infinite;
}

@keyframes scrollWheel {
    to {
        top: 15px;
        opacity: .4;
    }
}

#info .scroll p {
    color: white !important;
    width: 95px !important;
    margin: auto !important;
    left: -33px !important;
    right: 0 !important;
    bottom: -25px !important;
    font-size: 20px !important;
    text-align: center !important;
    position: absolute !important;
}

#info .more-info p {
    font-size: 20px;
    margin-bottom: 20px;
    color: #282b2d;
    max-width: 1280px;
    margin: 5px auto;
}

#info .more-info p:nth-child(6) {
    margin-bottom: 10px;
}

#info ol,
#info ul {
    list-style: initial;
    padding-left: 100px;
    padding-top: .5em;
    font-size: 20px;
    margin-bottom: 20px;
    max-width: 1280px;
    margin: 0 auto;
}

#info li span {
    color: #2900ff;
    font-weight: bold;
}

#info .more-info table {
    border-collapse: collapse;
    width: 100%;
    background-color: #f1f1f1;
    color: #383838;
    margin-top: 1em;
    font-size: 20px;
    max-width: 1280px;
    margin: 0 auto;
    margin-bottom: 60px;
}

#info .more-info td,
#info .more-info th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 2px 8px;
}

#info .more-info tr:nth-child(odd) {
    background-color: #c5c5c5
}

#info .more-info th {
    font-weight: bold;
    background-color: #a9c2e6;
    padding: 4px 8px;
    color: #383838;

}

#info .more-info h3 {
    font-size: 35px;
    max-width: 1280px;
    margin: 20px auto;
}

#info .more-info .info-tablet {
    height: 330px;
    width: 260px;
    background: black;
    margin: 0 auto;
    border-radius: 20px;
    padding: 20px;
    position: relative;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-top: 125px;
    margin-bottom: 125px;
    transform: scale(1.5);

}

#info .more-info .info-tablet .tablet-browser {
    height: 316px;
    width: 260px;
    background: white;
    margin: 0 auto;
    border-radius: 6px;
    padding-top: 0px;
    position: relative;

}

#info .more-info .info-tablet .tablet-button {
    height: 22px;
    width: 22px;
    background: #565656;
    border-radius: 50%;
    position: absolute;
    bottom: 6px;
    left: 0;
    right: 0;
    margin: 0 auto;
    border: 1px solid #85848e;

}

#info .more-info .info-tablet .tablet-browser .browser-navbar {
    height: 20px;
    width: 260px;
    margin: 0 auto;
    position: relative;
    top: -16px;
    background: #d8d8d8;
    border-radius: 6px 6px 0px 0px;
}

#info .more-info .info-tablet .tablet-browser .browser-navbar div {
    height: 6px;
    width: 6px;
    background: #62d5e9;
    border-radius: 50%;
    display: inline-block;
    margin-left: 6px;
}

#info .more-info .info-tablet .tablet-browser .browser-navbar div:nth-child(2) {
    background: #58f9a2;
}

#info .more-info .info-tablet .tablet-browser .browser-navbar div:nth-child(3) {
    background: #ff8d72;
}

#info .more-info .info-tablet .tablet-browser p {
    height: 20px;
    margin: 10px 0px;
    padding-left: 10px;
    line-height: 20px;
    font-size: 14px;

}

#info .more-info .info-tablet .tablet-browser p:nth-child(3) {
    width: calc(200px - 10px);
    background: #e91e63;
    margin: 0px 0px;
}

#info .more-info .info-tablet .tablet-browser p:nth-child(4) {
    width: calc(12em - 10px);
    background: #e91e63;
}

#info .more-info .info-tablet .tablet-browser p:nth-child(5) {
    width: calc(84% - 10px);
    background: #e91e63;
}

#info .more-info .info-tablet .tablet-browser p:nth-child(6) {
    width: calc(81% - 10px);
    background: #e91e63;
}

#info .more-info .info-tablet .tablet-browser p:nth-child(7) {
    width: calc(81% - 10px);
    height: 62px;
    background: #e91e63;
    font-size: 12px;
}

#info .more-info .info-tablet .tablet-browser p:nth-child(7) span {
    max-width: 50%;
    height: 40px;
    background: yellow;
    padding-left: 0px;
    margin: 0px 0px;
    margin-left: 0px;
    padding-left: 5px;
    padding-right: 5px;
    display: block;
    color: #282b2d;
    margin-bottom: 2px;
}

#info .more-info .info-tablet .tablet-browser p:nth-child(8) {
    float: right;
    width: calc(300px - 46px);
    height: 20px;
    background: #7720ff;
    font-size: 15px;
    transform: rotate(90deg);
    position: relative;
    top: -96px;
    right: -110px;
}

#info img.margin-padding-img {
    width: 800px;
    height: auto;
}

#info button {
    margin-bottom: 50px;
    font-size: 40px;
}
#info .bottom-shadow {
    box-shadow: 0px 10px 5px rgba(0, 0, 0, 0.72);
    width: 100%;
    height: 5px;
    margin-bottom: 8px;
}

#info .about-section{
    background: #354a5f;
    padding: 20px 0px;
}

#info h2.about {
    color:#d9d9d9;
    font-size: 30px;
    text-align: center;
    margin: 0;
    padding: 20px 0 20px 0;
}
#info .about-section p {
    color: #d9d9d9;
}
#info .about-section a {
    color: #ef6982;
}

#info .about-footer {
    width: 500px;
    margin: 20px auto;
}

#info .about-footer a {
    color: #ef6982;
    text-decoration: none;
    cursor: pointer;
    font-size: 24px;
    display: inline-block;
    width: 32%;
}

#info footer .copyright {
    color: #ef6982;
    display: block;
    height: 80px;
    background: #222222;
    text-align: center;
    font-size: 20px;
    line-height: 80px;
    text-decoration: none;
}

#info .explanation {
    height: 50px;
    width: 30%;
    background: #e6e6e6;
    border-radius: 25px;
    cursor: pointer;
    position: absolute;
    left: 18px;
    bottom: 14px;
    color: white;
    transition: transform .3s;
    z-index: 280;
    border: 2px solid rgba(93, 93, 93, 0.9);
    transition: width .8s;
}

#info .messages-expl {
    float: left;
    margin-left: 70px;
    max-width: 200px;
}

#info .display-message{
    text-align: center;
    font-size: 35px;
    text-shadow: 1px 1px 2px #484848;
    line-height: 46px;
    font-weight: bold;
}

#info .explain-this {
    color: #282b2d;
    text-align: center;
    font-size: 16px;
    margin: 5px 0px 0px 0px;
}

#info .explain-this strong {
    font-weight: bold;
}

#screenWarning {
    display: none;
}

.hide {
    display: none;
}

.dark-background {
    height: 100vh;
    width: 100vw;
    max-width: 100%;
    background: rgba(9, 10, 12, 0.8);
    position: fixed;
    left: 0px;
    bottom: -100vh;
    transition: bottom .8s;
    z-index: 295;
}

/* Big devices (very large desktops, more than 1200px)
    No media query since this is the default in Bootstrap */

/* large devices (large desktops, 1200px and up) */

@media (max-width: 1600px) and (max-height: 800px) {

    #sidebar .header h3 {
        margin-bottom: 5px;
        font-size: 20px;
    }
    #sidebar .box-controls .bigBox-control,
    #sidebar .box-controls .smallBox-control {
        margin: 0 5px 10px 5px;
        padding: 5px 10px;
    }
    #sidebar .header {
        margin-bottom: 15px;
    }
    #sidebar input {
        max-width: 72%;
        text-align: right;
        font-size: 14px;
        padding-right: 5px;
        margin-left: 5px;
    }
    #sidebar-container {
        max-height: 900px;
        margin-top: 0;
        margin-bottom: 0;

    }
    button {
        font-size: 16px;
    }
    #info .more-info h1 {
        margin: 2em 0 30px 0;
    }
    #info .more-info p {
        margin: 10px auto;
        max-width: 900px;
    }
    #info .more-info table {
        width: calc(100% - 31px);
        margin: 10px auto;
        max-width: 900px;
    }
    #info .more-info h3 {
        margin: 2.5em auto 0px auto;
        max-width: 900px;
    }
    #info button {
        margin-bottom: 50px;
        font-size: 30px;
    }
    #info ol,
    #info ul {
        margin: 10px auto;
        max-width: 900px;
    }

}

/* desktops*/

@media (max-width: 992px) {
    #grid-container {
        grid-gap: 0px;
    }
    #sidebar h2 {
        font-size: 200%;
    }
    #sidebar .box-controls h3 {
        margin-top: 10px;
        margin-bottom: 10px;
        padding-left: 5px;
    }
    #sidebar .box-controls .bigBox-control,
    #sidebar .box-controls .smallBox-control {
        margin: 0 5px 10px 5px;
        padding-left: 5px;
        font-size: 85%;
    }
    #sidebar input {
        max-width: 70%;
        text-align: right;
        font-size: 12px;
        padding-right: 5px;
        margin-left: 5px;
    }
    button {
        font-size: 14px;
    }
    #info img.margin-padding-img {
        width: 90%;
        height: auto;
        margin-bottom: 100px;
    }
    #info .about-footer {
        width: 100%;
        margin: 20px 4px;

    }
    #info .about-footer a {
        text-decoration: none;
        cursor: pointer;
        font-size: 20px;
        margin: 0;
    }
    #info .more-info p {
        max-width: 90vw;
    }
    #info .more-info table {
        max-width: 90vw;
    }
    #info .more-info h3 {
        max-width: 90vw;
    }
    #info button {
        font-size: 30px;
    }
    #info ol,
    #info ul {
        max-width: 90vw;
    }

}

/* Smartphones and "Oh snap warning" */

@media (max-width: 768px) {
    #main-container {
        grid-column: span 3;

    }
    #sidebar-container {
        grid-column: span 3;
        height: 90vh;
    }
    #screenWarning {
        height: 81vh;
        width: 81vw;
        max-width: 100%;
        padding: 10vh 10vw;
        position: fixed;
        z-index: 10000;
        background: rgba(27, 25, 25, 0.81);
        top: 0;
        left: 0;
        display: table;
    }
    #screenWarning .screenWarningBox {
        width: 100%;
        height: 100%;
        background: #525d69;
        border-radius: 20px;
        color: #c0c7ce;
    }
    #screenWarning h2 {
        padding: 20px;
        font-size: 200%;
        font-weight: bold;
    }
    #screenWarning p {
        padding: 20px;
        text-align: justify;
    }
    #info .more-info {
        height: 100%;
        width: 100vw;
        margin: 0;
        grid-template-columns: repeat(1, 1fr);
        overflow: scroll;
    }
    #about .more-about {
        height: 90vh;
        width: 90vw;
        top: -200vh;
    }
    #info .explanation {
        height: 100px;
        width: 90vw;
    }
    #info .more-info .info-tablet {
        margin-top: 25px;
        margin-bottom: 25px;
        transform: scale(1);
    }
    #info ol,
    #info ul {
        padding-left: 50px;
        margin-right: 15px;
    }

}
